.moviesCardList{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    width: 90%;
    margin: 0 auto;
}
.moviesCardList__header_hidden{
    display: none;
}