.promo{
    background-color: #073042;
    position: relative;
}
.promo_header{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    font-family: Inter, Arial, sans-serif;
    width: 740px;
    margin: 0 auto ;
    padding: 184px 0 224px;
}
.promo__logo{
    position: absolute;
    width: 320px;
    top: 23.5%;
    left: 37.5%;
}