.aboutProject{
    width: 90%;
    margin: 110px auto;
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    text-align: left;
}
.aboutProject__header{
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
}
.description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px 40px;
}
.description__item{
    font-size: 14px;
    line-height: 20px;
}
.description__header{
    font-size: 20px;
    line-height: 24px;
}
.plan{
    display: grid;
    grid-template-columns: 1fr 4fr;  
}
.plan__term{
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    margin: 110px 0 0 ;
}
.plan__back{
    background-color: #3DDC84;
}
.plan__front{
    background-color: #303030;
}
.plan__text{
    margin: 9px auto;
}
.plan__item{
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    text-align: center;
    margin: 14px auto 0;
}