.aboutMe{
    width: 90%;
    margin: 100px auto;
    text-align: left;
}
.aboutMe__header{
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
}
.aboutMe__contener{
    display: flex;
    margin: 0 auto 100px;
    margin-top: 66px;
    justify-content: space-between;
}
.aboutMe__name{
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}
.aboutMe__description{
    width: 50%;
}
.aboutMe__profession{
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-top: 18px;
}
.aboutMe__story{
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-top: 26px;
}
.aboutMe__links{
    margin-top: 100px;
    display: flex;
    gap:20px;
}
.aboutMe__link{
    font-style: normal;
    font-weight: normal;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
}
.aboutMe__photo{
    width: 260px;
    height: 350px;
}
@media (max-width: 768px)  {
    .aboutMe__contener{
        flex-direction: column-reverse;
    }
    .aboutMe__photo{
        margin: -6px auto 40px;
    }
}